<div class="row">
  <div class="col-md-6">
    <form method="POST" action="">
      {{ email_form.hidden_tag() }}
      <fieldset class="form-group">
        <legend>Update Email</legend>
        <div class="form-group">
          {{ email_form.email.label(class="form-control-label") }}
          {% if email_form.email.errors %}
            {{ email_form.email(class="form-control form-control-md is-invalid") }}
            <div class="invalid-feedback">
              {% for error in email_form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ email_form.email(class="form-control form-control-md") }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ email_form.submit(class="btn btn-outline-primary") }}
        </div>
      </fieldset>
    </form>
  </div>
</div>