<div class="row">
  <div class="col-md-6">
    <form method="POST" action="">
      {{ password_form.hidden_tag() }}
      <fieldset class="form-group">
        <legend>Update Password</legend>
        <div class="form-group">
          {{ password_form.password.label(class="form-control-label") }}
          {% if password_form.password.errors %}
            {{ password_form.password(class="form-control form-control-md is-invalid") }}
            <div class="invalid-feedback">
              {% for error in password_form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ password_form.password(class="form-control form-control-md") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ password_form.confirm_password.label(class="form-control-label") }}
          {% if password_form.confirm_password.errors %}
            {{ password_form.confirm_password(class="form-control form-control-md is-invalid") }}
            <div class="invalid-feedback">
              {% for error in password_form.confirm_password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ password_form.confirm_password(class="form-control form-control-md") }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ password_form.submit(class="btn btn-outline-primary") }}
        </div>
      </fieldset>
    </form>
  </div>
</div>