<table class="table table-dark col-md-5">
  <tbody>
    <tr>
      <td scope="col">Config ID</td>
      <td scope="col">{{ config.id }}</td>
    </tr>
    <tr>
      <td scope="col">Name</td>
      <td scope="col">{{ config.name }}</td>
    </tr>
    <tr>
      <td scope="col">Cure Profile</td>
      <td scope="col">{{ config.cure_profile }}</td>
    </tr>
    <tr>
      <td scope="col">Horizontal Offset</td>
      <td scope="col">{{ config.horizontal_offset }}</td>
    </tr>
    <tr>
      <td scope="col">Vertical Offset</td>
      <td scope="col">{{ config.vertical_offset }}</td> 
    </tr>
    <tr>
      <td scope="col">Horizontal Gap</td>
      <td scope="col">{{ config.horizontal_gap }}</td>
    </tr>
    <tr>
      <td scope="col">Vertical Gap</td>
      <td scope="col">{{ config.vertical_gap }}</td>
    </tr>
    <tr>
      <td scope="col">Slot Gap</td>
      <td scope="col">{{ config.slot_gap }}</td>
    </tr>
    <tr>
      <td scope="col">Notes</td>
      <td scope="col">{{ config.notes }}</td>
    </tr>
  </tbody>
</table>