{% extends "base.html" %}

{% block content %}
  <h2 class="mt-3">Available Configs</h2>
  {% include 'table/configs.html' %}

  <div class="d-flex justify-content-center">
    {% for page_num in configs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if configs.page == page_num %}
          <a class="btn btn-primary mb-4 mr-2" href="{{ url_for('configs', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-primary mb-4 mr-2" href="{{ url_for('configs', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
      {% endif %}
    {% endfor %}
  </div>

  <h2 class="mt-3">Create New Config</h2>
  {% include 'forms/config.html' %}
{% endblock %}