{% extends "base.html" %}

{% block content %}
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link h5" href="{{ url_for('home') }}">Home</a>
      <li class="nav-item">
        <a class="nav-link h5" href="{{ url_for('jobs') }}">Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5" href="{{ url_for('configs') }}">Configs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5 active" href="{{ url_for('about') }}">About</a>
      </li>
    </li>
  </ul>
   <!-- About section
   <section id="about">
   <div class="container px-4">
         <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
               <h2>About The Keynetics Robotics KeyAssembler</h2>
               <p class="lead">This is a University of Idaho Senior Engineering Capstone Design Project</p>
               <p>This web app will allow customers to create jobs for the MyCobot robot arm to perform.
                  Customers will send a coding profile and quantity to the MyCobot robot arm.
                  The MyCobot robot arm will automatically perform the key dispensing and UV curing process. 
               </p>
               <ul>
                     <li>Client: SEL</li>
                     <li>Objective: Insert blocking keys into molded plugs using a six-axis robot arm</li>
                     <li>Background: 
                        <ul>
                           <li>Existing Method:</li>
                           <ul>
                              <li>Manually insert tiny red keys into green molded plugs by hand</li>
                              <li>Key slots are located on the top of the green plugs</li>
                              <li>Keys are then broken off of the hexagon production mold</li>
                           </ul>
                           <li>Drawbacks:</li>
                           <ul>
                              <li>Very Inefficient</li>
                              <li>Damages the hands of employees</li>
                              <li>Takes away time from the employee that could be allocated elsewhere</li>
                           </ul>
                        </ul>
                     <li>Value Propositions: 
                        <ul>
                           <li>Automate a repetitive, harmful, and boring task. Improving employee job quality</li>
                           <li>Remove need for molded keys, with the Keynetics UV resin curing prototype</li>
                           <li>Decrease production time and production costs, due to a more efficient automation process</li>
                        </ul>
                     <li>Requirements: 
                        <ul>
                           <li>Automate the key insertion process</li>
                           <li>Maintain or improve the process's existing:</li>
                           <ul>
                              <li>Accuracy</li>
                              <li>Quality</li>
                              <li>Speed</li>
                           </ul>
                           <li>Utilize a six-axis robot similar to those standardized at SEL</li>
                           <li>Deliver record of notes and design choices to SEL</li>
                        </ul>
                     <li>Team Members: 
                        <ul>
                           <li>Austin Kugler - Software Engineering</li>
                           <li>Taylor Martin - Software Engineering</li>
                           <li>Zach Preston - Software Engineering</li>
                           <li>John Myers - Mechanical Engineering</li>
                        </ul>
               </ul>
            </div>
         </div>
   </div>
</section> -->
{% endblock %}