{% extends "base.html" %}

{% block content %}
  <h2 class="mt-3">The Team</h2>

  <p class="lead"><a class="text-light" href="https://github.com/pres1751" target="_blank">Zach Preston</a></p>
  <p>
    Zach is a senior majoring in computer science at the University of Idaho.
  </p>
  <p>
    Zach is the team's Glorius Leader and is responsible for coordinating with team mentors, designing the project's architecture, and writing software for the project's robot, Fred.
  </p>

  <p class="lead"><a class="text-light" href="https://www.linkedin.com/in/austin-kugler" target="_blank">Austin Kugler</a></p>
  <p>
    Austin is a senior majoring in computer science at the University of Idaho. His interests include backend, fintech, edtech, and distributed systems. Most recently, he worked as a software development engineer at Amazon Web Services (AWS) in the Amazon Connect organization. Austin's work experience covers system design, fullstack development, decentralized applications, data visualization, distributed systems, and higher education.
  </p>
  <p>
    On the Keynetics team, Austin is responsible for fullstack development of the KeyAssembler web app. He also works with team members to design and implement an architecture for dispensing and curing resin using a 6-axis robot.
  </p>

  <p class="lead"><a class="text-light" href="https://www.linkedin.com/in/taylor-martin-261542222" target="_blank">Taylor Martin</a></p>
  <p>
    Taylor is a senior majoring in computer science at the University of Idaho.
  </p>
  <p>
    As part of the Keynetics team, Taylor develops the KeyAssembler web app. He also works on the project's overall architecture and writes software for the team's robot, Fred.
  </p>

  <p class="lead"><a class="text-light" href="https://www.linkedin.com/in/john-myers-49638416b" target="_blank">John Myers</a></p>
  <p>
    John is a senior majoring in mechanical engineering at the University of Idaho.
  </p>
  <p>
    John's role on the Keynetics team is to design and fabricate physical components used in the project. This includes a plug pallet system, baseplate aligner, and mounts for ultraviolet floodlights.
  </p>

  <p class="lead text-light">Fred</p>
  <p>
    <img src="{{ url_for('static', filename='img/fred.png') }}" alt="Fred" width="208" height="281">
  </p>
  <p>
    Fred is a 6-axis myCobot 320-Pi robot. He is responsible for dispensing, curing resin, and looking cool.
  </p>

  <h2 class="mt-3">Background</h2>
  <p class="lead text-light">Existing Method</p>


  <h2 class="mt-3">The KeyAssembler</h2>
  <p class="lead text-light">Robotics Component</p>
  <p class="lead text-light">Web App Component</p>

  <h2 class="mt-3">Value Proposition</h2>
{% endblock %}