{% extends "base.html" %}

{% block content %}
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <li class="nav-item">
        <a class="nav-link h5" href="{{ url_for('jobs') }}">Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5 active" href="{{ url_for('configs') }}">Configs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5" href="{{ url_for('help') }}">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5" href="{{ url_for('about') }}">About</a>
      </li>
    </li>
  </ul>

  <h1 class="mt-3">Edit Config</h1>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="form-group">
        {{ form.name.label(class="form-control-label") }}
        {% if form.name.errors %}
          {{ form.name(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.name.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.name(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.cure_profile.label(class="form-control-label") }}
        {% if form.cure_profile.errors %}
          {{ form.cure_profile(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.cure_profile.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.cure_profile(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.horizontal_offset.label(class="form-control-label") }}
        {% if form.horizontal_offset.errors %}
          {{ form.horizontal_offset(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.horizontal_offset.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.horizontal_offset(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.vertical_offset.label(class="form-control-label") }}
        {% if form.vertical_offset.errors %}
          {{ form.vertical_offset(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.vertical_offset.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.vertical_offset(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.horizontal_gap.label(class="form-control-label") }}
        {% if form.horizontal_gap.errors %}
          {{ form.horizontal_gap(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.horizontal_gap.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.horizontal_gap(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.vertical_gap.label(class="form-control-label") }}
        {% if form.vertical_gap.errors %}
          {{ form.vertical_gap(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.vertical_gap.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.vertical_gap(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.slot_gap.label(class="form-control-label") }}
        {% if form.slot_gap.errors %}
          {{ form.slot_gap(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.slot_gap.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.slot_gap(class="form-control form-control-lg") }}
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-primary") }}
      <a class="btn btn-outline-danger" href="{{ url_for('configs') }}">Cancel</a>
    </div>
    <div class="border-top pt-1">
      <small class="text-muted">
        Unsure on what values to input? <a href="{{ url_for('help') }}">Get Help</a>
      </small>
    </div>
  </form>
{% endblock %}