{% extends "base.html" %}

{% block content %}
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link h5 active" href="{{ url_for('home') }}">Home</a>
      <li class="nav-item">
        <a class="nav-link h5" href="{{ url_for('jobs') }}">Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5" href="{{ url_for('configs') }}">Configs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5" href="{{ url_for('about') }}">About</a>
      </li>
    </li>
  </ul>
<!-- <h1 class = "text-center display-4 ">Welcome to the KeyAssembler</h1>
   <p>This web app will allow customers to create jobs for the MyCobot robot arm to perform.
      Customers will send a coding profile and quantity to the MyCobot robot arm.
      The MyCobot robot arm will automatically perform the key dispensing and UV curing process. 
   </p>

   <p>
   <img src="{{ url_for('static', filename='img/robot_arm.jpeg') }}" alt="robot arm" class="center">
   
   </p>
   <a class="btn btn-outline-primary mb-5 btn-lg d-flex justify-content-center" href="{{ url_for('jobs') }}">Create a job</a> -->
{% endblock %}