{% extends "base.html" %}

{% block content %}
  <div class="row mt-3">
    <div class="col-md-12">
      <h2 class="text-center">Your Insights</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <!-- <h2 class="text-center">Duration of Completed Jobs</h2> -->
      <img src="/durations-plot.png" alt="my plot">
    </div>

    <div class="col-md-6">
      <div class="col-md-12">
        <!-- <h2 class="text-center">Job Status Distribution</h2> -->
        <img src="/status-plot.png" alt="">
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-3">
      <!-- <h2 class="text-center">Jobs</h2>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Status</th>
            <th scope="col">Count</th>
            <th scope="col">Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Started</td>
            <td class="text-right">{{ analytics['started_jobs'] }}</td>
            <td class="text-right">{{ analytics['started_jobs_rate'] }}%</td>
          </tr>
          <tr>
            <td>Finished</td>
            <td class="text-right">{{ analytics['finished_jobs'] }}</td>
            <td class="text-right">{{ analytics['finished_jobs_rate'] }}%</td>
          </tr>
          <tr>
            <td>Stopped</td>
            <td class="text-right">{{ analytics['stopped_jobs'] }}</td>
            <td class="text-right">{{ analytics['stopped_jobs_rate'] }}%</td>
          </tr>
          <tr>
            <td>Failed</td>
            <td class="text-right">{{ analytics['failed_jobs'] }}</td>
            <td class="text-right">{{ analytics['failed_jobs_rate'] }}%</td>
          </tr>
          <tr>
            <td>Total</td>
            <td class="text-right">{{ analytics['all_jobs'] }}</td>
            <td class="text-right">100.00%</td>
          </tr>
        </tbody>
      </table> -->
    </div>

    <div class="col-md-6">
      <h2 class="text-center">Efficiency</h2>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Status</th>
            <th scope="col">Median</th>
            <th scope="col">Mean</th>
            <th scope="col">Std. Dev.</th>
            <th scope="col">Best</th>
            <th scope="col">Worst</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Started</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
            <td class="text-right">-</td>
          </tr>
          <tr>
            <td>Finished</td>
            <td class="text-right">{{ analytics['finished_jobs_median'] }}</td>
            <td class="text-right">{{ analytics['finished_jobs_mean'] }}</td>
            <td class="text-right">{{ analytics['finished_jobs_std_dev'] }}</td>
            <td class="text-right">{{ analytics['finished_jobs_min'] }}</td>
            <td class="text-right">{{ analytics['finished_jobs_max'] }}</td>
            <td class="text-right">{{ analytics['finished_jobs_duration'] }}</td>
          </tr>
          <tr>
            <td>Stopped</td>
            <td class="text-right">{{ analytics['stopped_jobs_median'] }}</td>
            <td class="text-right">{{ analytics['stopped_jobs_mean'] }}</td>
            <td class="text-right">{{ analytics['stopped_jobs_std_dev'] }}</td>
            <td class="text-right">{{ analytics['stopped_jobs_min'] }}</td>
            <td class="text-right">{{ analytics['stopped_jobs_max'] }}</td>
            <td class="text-right">{{ analytics['stopped_jobs_duration'] }}</td>
          </tr>
          <tr>
            <td>Failed</td>
            <td class="text-right">{{ analytics['failed_jobs_median'] }}</td>
            <td class="text-right">{{ analytics['failed_jobs_mean'] }}</td>
            <td class="text-right">{{ analytics['failed_jobs_std_dev'] }}</td>
            <td class="text-right">{{ analytics['failed_jobs_min'] }}</td>
            <td class="text-right">{{ analytics['failed_jobs_max'] }}</td>
            <td class="text-right">{{ analytics['failed_jobs_duration'] }}</td>
          </tr>
          <tr>
            <td>All</td>
            <td class="text-right">{{ analytics['all_jobs_median'] }}</td>
            <td class="text-right">{{ analytics['all_jobs_mean'] }}</td>
            <td class="text-right">{{ analytics['all_jobs_std_dev'] }}</td>
            <td class="text-right">{{ analytics['all_jobs_min'] }}</td>
            <td class="text-right">{{ analytics['all_jobs_max'] }}</td>
            <td class="text-right">{{ analytics['all_jobs_duration'] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}