{% extends "base.html" %}

{% block content %}
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <li class="nav-item">
        <a class="nav-link h5 active" href="{{ url_for('jobs') }}">Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5" href="{{ url_for('configs') }}">Configs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5" href="{{ url_for('help') }}">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link h5" href="{{ url_for('about') }}">About</a>
      </li>
    </li>
  </ul>

  <h1 class="mt-3">Start Job</h1>
  <form class="form-inline" method="POST" action="{{ url_for('start_job') }}">
    <div class="form-group">
      <div class="input-group">
        <select name="config_select" class="selectpicker form-control">
          {% for config in configs %}
            <option value="{{ config.id }}">{{ config.name }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-outline-primary ml-2">Start</button>
    </div>
  </form>

  <h1 class="mt-3">Current Jobs</h1>
{% endblock %}